@font-face {
  font-family: 'Majesty';
  src: url('./assets/fonts/majesty.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --background-color: #fff; /* Light mode background */
  }
  
  /* Dark mode styles */
  body[data-theme='dark'] {
    --background-color: #303030; /* Dark mode background */
  }
  
  body {
    background-color: var(--background-color);
    transition: background-color 0.3s ease; /* Optional for smooth transition */
  }
  
  .highlight {
  color: #FD93B9; /* or any color you want */
}